@use "../layout/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

$header-font: 'Merriweather Sans', sans-serif;
$text-font: 'Oswald', sans-serif;

*{
  font-family: $text-font;
}



